/**
 * @brief Tabloid, a theme for Dotclear 2
 *
 * @package Dotclear
 * @subpackage Theme
 *
 * @author Azork (http://xtradotfreedotfr.free.fr/blog/), Pierre Van Glabeke
 *
 * @copyright GPL-2.0 https://www.gnu.org/licenses/gpl-2.0.html
 */
#menu {display:none;}

#navsm {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 960px;
}

#navsm ul {
  list-style: none;
  color: #7391a3;
  padding: 2px 2px 0 2px;
  margin: 0;
  height: 25px;
  background: transparent url(img/categoriesBG.png) no-repeat top left;
}

#navsm li {
  float: left;
  line-height: 25px;
}

#navsm a {
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  display: block;
  padding: 0 8px;
	float: left;
}
#navsm a:hover {
	background: #4f7083;
	text-decoration: none;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#navsm li.active a {
  background: #fff !important;
	color: #375769;
  text-decoration: none;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#navsm li ul,
#navsm li ul ul,
#navsm li ul ul ul {
  position: absolute;
  left: -999em;
}